<!-- Footer -->

<hr>

<footer>
  <div class="container" >
    <div class="row">
      <div class="col-lg-1"> </div>
      <div class="col-lg-8">
        <p class="contact text-muted"><strong><a href="https://cis.temple.edu/" target="_blank">Department of Computer and Information Sciences</a><br></strong>Temple University<br><strong>SERC 328,</strong><br>1925 N. 12th St,<br>Philadelphia, PA 19122<br><br><strong>y.wang@temple.edu</strong></p>
      </div>
      <div class="col-lg-3 text-center col-md-0">
        <img width="180" height="48" class="copyright" src="{{ site.baseurl }}/assets/icon/TempleLogo.png">
      </div>
    </div>
      <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}. All rights reserved</p>
  </div>
</footer>
