<!-- Footer -->

<footer class="page-footer bg-color">
<div style="background-image: url({{ site.baseurl }}/img/bg-footer.png);background-size: cover;background-repeat:no-repeat; background-position:left top">
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <p style="font-size: 26px;font-family:Poppins, sans-serif;font-weight: 500;color:rgb(231, 229, 229);margin-bottom: 20px;">Contact Information</p>
        <a href="https://cis.temple.edu/~yanwang/index.html"><p   style="font-size: 19px;font-family: Montserrat, sans-serif;font-weight: 500;color:rgb(231, 229, 229);">Prof. Yan Wang</p></a>
        <p   style="font-family: Montserrat;font-size: 18px;font-weight: 500;color:rgb(231, 229, 229);"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"></path>
        </svg>y.wang@temple.edu</p>
        <p   style="font-family: Montserrat;font-size: 18px;font-weight: 500;color:rgb(231, 229, 229);"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z" />
        </svg>+1-215-204-1743</p>
      
        <p   style="font-family: Montserrat;font-size: 18px;font-weight: 500;color:rgb(231, 229, 229);margin-left: -2px;"><svg width="1.3em" height="1.3em" fill="rgb(231, 229, 229)" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
      </svg>&nbsp1925 N 12th St, <strong>SERC 328</strong></p>
        <p   style="font-family: Montserrat;font-size: 18px;font-weight: 500;color:rgb(231, 229, 229)">&nbsp&nbsp&nbsp&nbsp&nbsp Philadelphia, PA 19122</p>
      </div>
      <div class="col-lg-3 col-md-0" style="text-align: center;">
        
        <a href="https://www.temple.edu/"><img width="160" height="100" class="copyright" draggable="false" src="{{ site.baseurl }}/assets/icon/temple_footer_2.png" style="text-align: center;"></a>
        <a href="https://www.temple.edu/" style="margin-top: -40px;"><img width="240" height="80" class="copyright" draggable="false" src="{{ site.baseurl }}/img/temple_logo.png" style="text-align: center;"></a>
      </div>
    </div>
      <p class="copyright text-muted" style="font-size: 18px;color:rgb(231, 229, 229) !important">Copyright &copy; 2022. All rights reserved</p>
  </div>
</div>
</div>
</footer>
<style>
  .bg-color {
  background-image: linear-gradient(to right, #4b4949 0%, #383636 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.page-footer {
  color: #666;
  background-color: #ee6e73;
}
</style>