<!-- Footer -->

<footer style="background-color:rgb(245, 245, 245);">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"> </div>
      <div class="col-lg-8">
        <p class="contact text-muted" style="font-size: 20px;">Contact Information</p>
        <p class="footerfont text-muted" style="font-size: 18px;"><strong>Prof. Yan Wang</strong></p>
        <p class="footerfont text-muted"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"></path>
        </svg>y.wang@temple.edu</p>
        <p class="footerfont text-muted"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z" />
        </svg>+1-215-204-1743</p>
        <p class="footerfont text-muted"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-map mr-2" fill="gray" xmlns="http://www.w3.org/2000/svg">
          <path fill="gray" d="M15.817.613A.5.5 0 0 1 16 1v13a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 14.51l-4.902.98A.5.5 0 0 1 0 15V2a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0l4.902.98 4.902-.98a.5.5 0 0 1 .415.103zM10 2.41l-4-.8v11.98l4 .8V2.41zm1 11.98l4-.8V1.61l-4 .8v11.98zm-6-.8V1.61l-4 .8v11.98l4-.8z" />
        </svg>1925 N 12th St, <strong>Room 328</strong></p>
        <p class="footerfont text-muted">&nbsp&nbsp&nbsp&nbsp&nbsp Philadelphia, PA 19122</p>
      </div>
      <div class="col-lg-3 text-center col-md-0">
        <img width="180" height="48" class="copyright" src="{{ site.baseurl }}/assets/icon/TempleLogo.png">
      </div>
    </div>
      <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}. All rights reserved</p>
  </div>
</div>
</footer>
