---
layout: default
---
<body>
    <div class="container" style="margin-bottom: 20px;">
        <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto" style="text-align: center;margin-top: 100px;">
            <div class="card" style="padding: 10px;box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%)">
                <div class="row" style="margin-top:15px">
            <div class="col-lg-6 col-md-6 mx-auto" style="text-align: left;margin-left: 20px;">
                <div class="contact-text" style="margin-left:25px">
                <span style="font-weight: 600;color: rgb(83, 77, 77);">Admin:</span> Yan Wang<br>
                <span style="font-weight: 600;color: rgb(83, 77, 77);">Email:</span> y.wang@temple.edu<br>
                <span style="font-weight: 600;color: rgb(83, 77, 77);">Phone:</span> +1-215-204-1743<br>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 mx-auto" style="text-align: right;margin-right: 20px;margin-bottom: 20px;">
                <div class="contact-text" style="margin-right:25px">
                <span style="font-weight: 600;color: rgb(83, 77, 77);">Office:</span> SERC 328<br>
                Temple University<br>
                1925 N 12th St, Philadelphia, PA 19122<br>
            </div>
            </div>
        </div>
                
                <img src='./img/map.png' style="margin-top:10px;width: 98%;align-items: center;text-align: center;margin: auto;">
                <img src='./img/background.png' style="margin-top:10px;width: 98%;align-items: center;text-align: center;margin: auto;">
            </div>
        </div>
        </div>
    </div>
</body>