---
layout: default
---

<body>
  

  <div class="container" style="margin-top: 100px;">
    <div class="row">
      
      <div class="col-lg-7 col-md-auto mx-auto" style="margin-top: 10px;" >
        <h1 style="font-size:38px; font-family:Arial, Helvetica, sans-serif;">Introduction</span></h1>
        <div  class="grant-p" style="font-size: 21px;margin-right: 20px;">Welcome to WANGLab, in the <a href='https://cis.temple.edu/' style="color: rgb(184, 27, 58);">Department of Computer and Information Sciences</a> at Temple University. We foster an open, motivated, creative, and team-oriented culture in our group. Welcome all scholars and students to join our lab. </div>
        <h1 style="font-size:38px; font-family:Arial, Helvetica, sans-serif;margin-top: 50px;margin-bottom: 12px;">Research</span></h1>
        <div  class="grant-p" style="font-size: 21px;margin-right: 20px;">Our research focuses on <span style="color: rgb(184, 27, 58);">Mobile Sensing</span>, <span style="color: rgb(184, 27, 58);">Internet of Things</span>, <span style="color: rgb(184, 27, 58);">Cyber Security and Privacy</span>, <span style="color: rgb(184, 27, 58);">Artificial Intelligence</span> and <span style="color: rgb(184, 27, 58);">Sotfware & Hareware Co-Design</span>. Our work is motivated by a wide variety of engineering and applications.</div>

        <h1 style="font-size:38px; font-family:Arial, Helvetica, sans-serif;margin-top: 50px;margin-bottom: 40px;">Supported By</span></h1>
        <img src="./img/support/NSF.png" style="width: 110px;margin-left: 20px;margin-right: 20px;"/>
        <img src="./img/support/temple.png" style="max-width: 110px;margin-left: 20px;margin-right: 20px;"/>
        <img src="./img/support/pen.png" style="max-width: 110px;margin-left: 20px;margin-right: 20px;"/>
        <img src="./img/support/matlab.png" style="width: 110px;margin-left: 20px;margin-right: 20px;"/>
        <img src="./img/support/nvidia.png" style="max-width: 110px;margin-left: 20px;margin-right: 20px;"/>
        <img src="./img/support/apple.jpg" style="width: 110px;margin-left: 20px;margin-right: 20px;"/>
        <img src="./img/support/samsung.png" style="max-width: 110px;margin-left: 20px;margin-right: 20px;"/>
        <img src="./img/support/tp-link.png" style="width: 110px;margin-left: 20px;margin-right: 20px;"/>
        <img src="./img/support/google.png" style="width: 110px;margin-left: 20px;margin-right: 20px;"/>
        <img src="./img/support/dell.png" style="max-width: 110px;margin-left: 20px;margin-right: 20px;"/>
        <img src="./img/support/microsoft.png" style="max-width: 110px;margin-left: 20px;margin-right: 20px;"/>
        <img src="./img/support/oracle.png" style="max-width: 110px;margin-left: 20px;margin-right: 20px;"/>
        
        
      <br>
      <br>
      </div>

      <div class="col-lg-5 col-md-auto mx-auto" style="margin-top: 10px;"> 
        <h1 style="font-size:28px; font-family:Arial, Helvetica, sans-serif;">Recent News</span></h1>
        <div class="news-p" style="margin-top:20px;margin-bottom: 20px;margin-left: 0px;font-size: 17px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">Jan. 2023</button><span style="color: red;font-weight: 600;"></span> Welcome!</span> Ph.D. student,<em style="color: rgb(211, 16, 16);"> Mingjing Xu</em>, joined our research lab. Welcome on board, Mingjing!</div>
                <div class="news-p" style="margin-top:20px;margin-bottom: 20px;margin-left: 0px;font-size: 17px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">Jan. 2023</button> <span style="color: red;font-weight: 600;"> New!</span> Our paper on Security <em style="color: rgb(211, 16, 16);">"Universal Targeted Adversarial Attacks Against mmWave-based Human Activity Recognition"</em> has been accepted to <a href="https://asiaccs2023.org/" style="color: #2d4c8f;text-decoration:underline">ACM AsiaCCS 2023</a>. </div>
                <div class="news-p" style="margin-top:20px;margin-left: 0px;font-size: 17px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">2022</button><span style="color: red;font-weight: 600;"> New!</span> Prof. Wang received the <em style="color: rgb(211, 16, 16);">NSF CAREER Award</em> on his project "<a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2145389&HistoricalAwards=false" style="color: #2d4c8f;text-decoration:underline">Efficient Mobile Edge Oriented Deep Learning Framework</a>".</div>

                <div class="news-p" style="margin-top:20px;margin-bottom: 20px;margin-left: 0px;font-size: 17px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">2022</button> <span style="color: red;font-weight: 600;"> New!</span> Our paper <em style="color: rgb(211, 16, 16);">"BioTag: Robust RFID-based Continuous User Verification Using Physiological Features from Respiration"</em> has been accepted to ACM MobiHoc 2022</a>. <a href='https://dl.acm.org/doi/pdf/10.1145/3492866.3549718?casa_token=uQ4_RCBDQW8AAAAA:RpyfqWA38J6DQEMriDgLO3eQJM_busWwRXl-N1jQAHrqce0s8gbk7BgB-ocz0Jda9yM_jEKkbhX5'><button style="background-color:rgb(107, 98, 100);border:none; color: azure;border-radius: 5px;">PDF</button></a> </div>

                <div class="news-p" style="margin-top:20px;margin-bottom: 20px;margin-left: 0px;font-size: 17px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">Sep. 2022</button><span style="color: red;font-weight: 600;"> Welcome!</span> Ph.D. student,<em style="color: rgb(211, 16, 16);"> Zijie Tang</em>, joined our research lab. Welcome on board, Zijie!</div>
                
                <div class="news-p" style="margin-top:20px;margin-left: 0px;font-size: 17px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">Jun. 2022</button><span style="color: red;font-weight: 600;"> New!</span> Congratulations to <em style="color: rgb(211, 16, 16);">Tianming Zhao</em> successfully defend his thesis. Now he started as an assistant professor in <a href="https://udayton.edu/" style="color: #2d4c8f;text-decoration:underline">the University of Dayton</a>.</div>
                
                <div class="news-p" style="margin-top:20px;margin-bottom: 20px;margin-left: 0px;font-size: 17px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">2022</button> <span style="color: red;font-weight: 600;"> New!</span> Our paper <em style="color: rgb(211, 16, 16);">"RIBAC: Towards Robust and Imperceptible Backdoor Attack against Compact DNN"</em> has been accepted to Springer ECCV 2022. <a href='https://arxiv.org/pdf/2208.10608.pdf'><button style="background-color:rgb(107, 98, 100);border:none; color: azure;border-radius: 5px;">PDF</button></a></div>

                <div class="news-p" style="margin-top:20px;margin-bottom: 20px;margin-left: 0px;font-size: 17px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">2022</button> <span style="color: red;font-weight: 600;"> New!</span> Our paper <em style="color: rgb(211, 16, 16);">"Audio-domain Position-independent Backdoor Attack via Subsecond Triggers"</em> has been accepted to ACM MobiCom 2022. <a href='https://dl.acm.org/doi/pdf/10.1145/3495243.3560531?casa_token=M7MsGxN3nj8AAAAA:f-WVRDzedZIXT9CvvRkALGBV07o-3g_kFYMPzphyfNnfHAiDtpaVtV_FemK6jgLCBc7E-tUwcmK6'><button style="background-color:rgb(107, 98, 100);border:none; color: azure;border-radius: 5px;">PDF</button></a></div>

                <div class="news-p" style="margin-top:20px;margin-bottom: 20px;margin-left: 0px;font-size: 17px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">2022</button> <span style="color: red;font-weight: 600;"> New!</span> Our paper <em style="color: rgb(211, 16, 16);">"Defending against Thru-barrier Stealthy Voice Attacks via Cross-Domain Sensing on Phoneme Sounds"</em> has been accepted to ACM ICDCS 2022. <a href='https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9912174&casa_token=0BlHDOOT0s0AAAAA:30I4PSXfS_PQRK6Vr6s-fcnKPW2s-PZv0MxqeYyJFFbpUTyoS-L9qGvK3RxaD1l4ZbuxG5IjOQ&tag=1'><button style="background-color:rgb(107, 98, 100);border:none; color: azure;border-radius: 5px;">PDF</button></a></div>

                <div class="news-p" style="margin-top:20px;margin-left: 0px;font-size: 17px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">Jan. 2022</button><span style="color: red;font-weight: 600;"> New!</span> Prof. Wang is now the Technical Program Committee member for the 20th ACM Conference on <em style="color: rgb(211, 16, 16);">Embedded Networked Sensor Systems (SenSys 2022)</em>. Please consider submitting your work to ACM SenSys 2022!</div>
                
                <div class="news-p" style="margin-top:20px;margin-bottom: 20px;margin-left: 0px;font-size: 17px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">2022</button><span style="color: red;font-weight: 600;"> New!</span> Prof. Wang is now the Technical Program Committee member for the <em style="color: rgb(211, 16, 16);">42nd IEEE International Conference on Distributed Computing Systems (ICDCS 2022)</em>. Please consider submitting your work to <a href="https://icdcs2022.icdcs.org/" style="color: #2d4c8f;line;text-decoration:underline">IEEE ICDCS 2022</a>!</div>
                
      </div>
      <hr>
    </div>
  </div>


</body>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>        
  var mySwiper = new Swiper ('.swiper', {
    loop: true, // 循环模式选项
    
    
    // 如果需要前进后退按钮
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    
    autoplay: {
      delay:20000,
    }
  });
  $('.swiper-slide').mouseenter(function() {
    mySwiper.autoplay.stop();
})
// 鼠标移出开始自动滚动
$('.swiper-slide').mouseleave(function() {
    mySwiper.autoplay.start();
})
</script>