---
layout: default
---

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto" style="text-align: center;">
        <h1 style="font-size:38px;font-family: Arial, Helvetica, sans-serif;margin-top: 14px;"><br><br>Group News</h1>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: -50px;">
    <div class="row">
      <div class="col-lg-11 col-md-11 mx-auto">
        <br><br><br>
        <div class="swiper">
          <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="./img/news/watch.png" style="width: 100%;"></div>
              <div class="swiper-slide"><img src="./img/news/dell.jpg" style="width: 100%;"></div>
              <div class="swiper-slide"><img src="./img/news/IMPINJ.jpg" style="width: 100%;"></div>
              <div class="swiper-slide"><img src="./img/news/mmWave.jpg" style="width: 100%;"></div>
              <div class="swiper-slide"><img src="./img/news/oculus.jpg" style="width: 100%;"></div>
              <div class="swiper-slide"><img src="./img/news/starTech.jpg" style="width: 100%;"></div>
              <div class="swiper-slide"><img src="./img/news/viewpro.jpg" style="width: 100%;"></div>
          </div>
          
          <!-- 如果需要导航按钮 -->
          <div class="swiper-button-prev" style="color: rgb(107, 106, 106);"></div>
          <div class="swiper-button-next" style="color: rgb(102, 101, 101);"></div>
          <div class="swiper-pagination"></div>
    
          
      </div>
      </div>
    </div>
  </div>
<div class="container">
    <div class="row" style="margin-top: 30px;">
        <div class="col-lg-12 col-md-12 mx-auto">
            <div class="news-select" id="news-select-2023">
                <h2 style="font-family: Montserrat,sans-serif;margin-left: 10px;margin-top:18px;vertical-align: middle;">2023
                <span class="news-arrow" style="display: none;">
                    <svg aria-hidden="false" focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" aria-label="close year 2021">
                        <path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
                </span>
                <span class="news-arrow-down">
                    <svg aria-hidden="false" focusable="false" data-prefix="fas" data-icon="angle-up" class="svg-inline--fa fa-angle-up fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" aria-label="open year 2021"><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg>
                </span>
                </h2>
                
            </div>
            <div class="news-text">
                <div class="col-lg-12 col-md-12 mx-auto">
                <div class="news-p" style="margin-top:20px;margin-bottom: 20px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">Jan. 2023</button><span style="color: red;font-weight: 600;"> Welcome!</span> Ph.D. student,<em style="color: rgb(211, 16, 16);"> Mingjing Xu</em>, joined our research lab. Welcome on board, Mingjing!</div>
                <div class="news-p" style="margin-top:20px;margin-bottom: 20px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">Jan. 2023</button> <span style="color: red;font-weight: 600;"> New!</span> Our paper on Security <em style="color: rgb(211, 16, 16);">"Universal Targeted Adversarial Attacks Against mmWave-based Human Activity Recognition"</em> has been accepted to <a href="https://asiaccs2023.org/" style="color: #2d4c8f;text-decoration:underline">ACM AsiaCCS 2023</a>.</div>
                
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 mx-auto">
            <div class="news-select" id="news-select-2022">
                <h2 style="font-family: Montserrat,sans-serif;margin-left: 10px;margin-top:18px;vertical-align: middle;">2022
                <span class="news-arrow" style="display: none;">
                    <svg aria-hidden="false" focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" aria-label="close year 2021">
                        <path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
                </span>
                <span class="news-arrow-down">
                    <svg aria-hidden="false" focusable="false" data-prefix="fas" data-icon="angle-up" class="svg-inline--fa fa-angle-up fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" aria-label="open year 2021"><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg>
                </span>
                </h2>
                
            </div>
            <div class="news-text">
                <div class="col-lg-12 col-md-12 mx-auto">
                <div class="news-p" style="margin-top:20px"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">2022</button><span style="color: red;font-weight: 600;"> New! [Award]</span> Prof. Wang received the <em style="color: rgb(211, 16, 16);">NSF CAREER Award</em> on his project "<a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2145389&HistoricalAwards=false" style="color: #2d4c8f;text-decoration:underline">Efficient Mobile Edge Oriented Deep Learning Framework</a>".</div>

                <div class="news-p" style="margin-top:20px;margin-bottom: 20px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">2022</button> <span style="color: red;font-weight: 600;"> New!</span> Our paper <em style="color: rgb(211, 16, 16);">"BioTag: Robust RFID-based Continuous User Verification Using Physiological Features from Respiration"</em> has been accepted to ACM MobiHoc 2022</a>.</div>

                <div class="news-p" style="margin-top:20px;margin-bottom: 20px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">Sep. 2022</button><span style="color: red;font-weight: 600;"> Welcome!</span> Ph.D. student,<em style="color: rgb(211, 16, 16);"> Zijie Tang</em>, joined our research lab. Welcome on board, Zijie!</div>
                
                <div class="news-p" style="margin-top:20px"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">Jun. 2022</button><span style="color: red;font-weight: 600;"> congratulations!</span> Ph.D. student,  <em style="color: rgb(211, 16, 16);">Tianming Zhao</em> successfully defended his thesis. Now he started as an assistant professor in <a href="https://udayton.edu/" style="color: #2d4c8f;text-decoration:underline">the University of Dayton</a>.</div>
                
                <div class="news-p" style="margin-top:20px;margin-bottom: 20px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">2022</button> <span style="color: red;font-weight: 600;"> New!</span> Our paper <em style="color: rgb(211, 16, 16);">"RIBAC: Towards Robust and Imperceptible Backdoor Attack against Compact DNN"</em> has been accepted to Springer ECCV 2022.</div>

                <div class="news-p" style="margin-top:20px;margin-bottom: 20px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">2022</button> <span style="color: red;font-weight: 600;"> New!</span> Our paper <em style="color: rgb(211, 16, 16);">"Audio-domain Position-independent Backdoor Attack via Subsecond Triggers"</em> has been accepted to ACM MobiCom 2022.</div>

                <div class="news-p" style="margin-top:20px;margin-bottom: 20px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">2022</button> <span style="color: red;font-weight: 600;"> New!</span> Our paper <em style="color: rgb(211, 16, 16);">"Defending against Thru-barrier Stealthy Voice Attacks via Cross-Domain Sensing on Phoneme Sounds"</em> has been accepted to ACM ICDCS 2022.</div>

                <div class="news-p" style="margin-top:20px"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">Jan. 2022</button><span style="color: red;font-weight: 600;"> New!</span> Prof. Wang is now the Technical Program Committee member for the 20th ACM Conference on <em style="color: rgb(211, 16, 16);">Embedded Networked Sensor Systems (SenSys 2022)</em>. Please consider submitting your work to ACM SenSys 2022!</div>
                
                <div class="news-p" style="margin-top:20px;margin-bottom: 20px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">2022</button><span style="color: red;font-weight: 600;"> New! [Award]</span> Prof. Wang is now the Technical Program Committee member for the <em style="color: rgb(211, 16, 16);">42nd IEEE International Conference on Distributed Computing Systems (ICDCS 2022)</em>. Please consider submitting your work to <a href="https://icdcs2022.icdcs.org/" style="color: #2d4c8f;line;text-decoration:underline">IEEE ICDCS 2022</a>!</div>
                
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 mx-auto">
          <div class="news-select" id="news-select-2021">
              <h2 style="font-family: Montserrat,sans-serif;margin-left: 10px;margin-top:18px;vertical-align: middle;">2021
              <span class="news-arrow" style="display: none;">
                  <svg aria-hidden="false" focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" aria-label="close year 2021">
                      <path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
              </span>
              <span class="news-arrow-down">
                  <svg aria-hidden="false" focusable="false" data-prefix="fas" data-icon="angle-up" class="svg-inline--fa fa-angle-up fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" aria-label="open year 2021"><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg>
              </span>
              </h2>
              
          </div>
          <div class="news-text">
            <div class="col-lg-12 col-md-12 mx-auto">
              <div class="news-p" style="margin-top:20px"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">2021</button> NSF awarded Yan's research project on "<a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2120276&HistoricalAwards=falsee" style="color: #2d4c8f;text-decoration:underline">Nation-wide Community-based Mobile Edge Sensing and Computing Testbeds</a>".</div>

              <div class="news-p" style="margin-top:20px;margin-bottom: 20px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">2021</button> Our paper <em style="color: rgb(211, 16, 16);">"Environment-independent In-baggage Object Identification Using WiFi Signals"</em> has been accepted to IEEE MASS 2021.</div>

              <div class="news-p" style="margin-top:20px;margin-bottom: 20px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">Aug. 2021</button><span style="color: red;font-weight: 600;"> Welcome!</span> Ph.D. student,<em style="color: rgb(211, 16, 16);"> Zhengkun Ye</em>, joined our research lab. Welcome on board, Zhengkun!</div>
                
              <div class="news-p" style="margin-top:20px;margin-bottom: 20px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">Apr. 2021</button> Our paper on deep neural network optimization, <em style="color: rgb(211, 16, 16);">"MIXP: Efficient Deep Neural Networks Pruning for Further FLOPs Compression via Neuron Bond"</em> has been accepted to <a href="https://2023.ijcnn.org/" style="color: #2d4c8f;text-decoration:underline">IJCNN 2021</a>.</div>

              <div class="news-p" style="margin-top:20px"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;"> Apr. 2021</button> Prof. Wang is recognized as the <em style="color: rgb(211, 16, 16);">Most Influential Scholar Award Honorable Mention</em> for outstanding and vibrant contributions to the field of Computer Networking in the past ten years (between 2010 and 2020). <a href="https://www.aminer.org/profile/yan-wang/53f4d36bdabfaef208f80e7f" style="color: #2d4c8f;text-decoration:underline">[Research Profile]</a> <a href="./img/research/honorablemention_cert.jpeg" style="color: #2d4c8f;text-decoration:underline">[Certificate]</a></div>

              <div class="news-p" style="margin-top:20px"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;"> Apr. 2021</button> Prof. Wang is the <em style="color: rgb(211, 16, 16);">Guest Editors</em> of the Special Issue  "<a href="https://jsssjournal.com/journal/special_detail/693" style="color: #2d4c8f;text-decoration:underline">Authentication Mechanisms on Mobile and Wearable Devices</a>" for the Journal of Surveillance, Security and Safety</div>

              <div class="news-p" style="margin-top:20px;margin-bottom: 20px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">Feb. 2021</button> Prof. Wang now is the<em style="color: rgb(211, 16, 16);font-weight: 600;"> Technical Program Committee Co-Chair</em> for the IEEE Conference on Communications and Network Security (<a href="https://cns2021.ieee-cns.org/" style="color: #2d4c8f;text-decoration:underline">IEEE CNS 2021)</a>. Please submit your papers to CNS 2021 and join us virtually online.</div>
              
              <div class="news-p" style="margin-top:20px;margin-bottom: 20px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">Feb. 2021</button> Prof. Wang joined the <em style="color: rgb(211, 16, 16);font-weight: 600;"> Topic Editorial Board</em> of <a href="https://www.mdpi.com/journal/sensors" style="color: #2d4c8f;text-decoration:underline">Sensors</a>. Please submit your papers to Sensors.</div>

              <div class="news-p" style="margin-top:20px;margin-bottom: 20px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">Feb. 2021</button> Prof. Wang now is the<em style="color: rgb(211, 16, 16);font-weight: 600;"> General Co-Chair</em> or the 2nd International Workshop of Deep Learning for Wellbeing Applications Leveraging Mobile Devices and Edge Computing (<a href="https://cns2021.ieee-cns.org/" style="color: #2d4c8f;text-decoration:underline">HealthDL 2021)</a>. Please submit your papers to HealthDL 2021 and join us virtually online.</div>
              
              </div>
              
            </div>
        </div>
              
              <div class="col-lg-12 col-md-12 mx-auto">
                <div class="news-select" id="news-select-2020">
                    <h2 style="font-family: Montserrat,sans-serif;margin-left: 10px;margin-top:18px;vertical-align: middle;">2020
                    <span class="news-arrow" style="display: none;">
                        <svg aria-hidden="false" focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" aria-label="close year 2021">
                            <path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
                    </span>
                    <span class="news-arrow-down">
                        <svg aria-hidden="false" focusable="false" data-prefix="fas" data-icon="angle-up" class="svg-inline--fa fa-angle-up fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" aria-label="open year 2021"><path fill="currentColor" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg>
                    </span>
                    </h2>
                    
              </div>
                <div class="news-text">
                  <div class="col-lg-12 col-md-12 mx-auto">
                    <div class="news-p" style="margin-top:20px"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">Nov. 2020</button> Prof. Wang now is the <em style="color: rgb(211, 16, 16);">Technical Program Committee Vice-Chair </em>(<a href="https://infocom2022.ieee-infocom.org/" style="color: #2d4c8f;text-decoration:underline">IEEE INFOCOM 2022)</a>. Please submit your papers to INFOCOM 2022 and join us virtually online.</div>
      
                    <div class="news-p" style="margin-top:20px;margin-bottom: 20px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">Sep. 2020</button> Our paper on voice command authentication using wearables, <em style="color: rgb(211, 16, 16);">"WearID: Low-Effort Wearable-Assisted Authentication of Voice Commands via Cross-Domain Comparison without Training"</em> has been accepted to <a href="https://www.acsac.org/2020/" style="color: #2d4c8f;text-decoration:underline">ACSAC 2020.</a></div>
      
                    <div class="news-p" style="margin-top:20px;margin-bottom: 20px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">Aug. 2020</button> Our paper <em style="color: rgb(211, 16, 16);">"TrueHeart: Continuous Authentication on Wrist-worn Wearables Using PPG-based Biometrics"</em> has been accepted to IEEE INFOCOM 2020</div>

                    <div class="news-p" style="margin-top:20px;margin-bottom: 20px;"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;">2020</button> NSF awarded Yan's research project on "<a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2028858&HistoricalAwards=false" style="color: #2d4c8f;text-decoration:underline">Hardware-accelerated Trustworthy Deep Neural Network</a>"".</div>

                    <div class="news-p" style="margin-top:20px"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;"> Feb. 2020</button> Our paper on user authentication using acoustic sensing, <em style="color: rgb(211, 16, 16);">"EchoLock: Towards Low-effort Mobile User Identification Leveraging Structure-borne Echos"</em> has been accepted to <a href="https://asiaccs2020.cs.nthu.edu.tw/" style="color: #2d4c8f;text-decoration:underline">ACM AsiaCCS 2020</a>.</div>
      
                    <div class="news-p" style="margin-top:20px"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;"> Feb. 2020</button> Prof. Wang now is a designated reviewer on the editorial committee for the Inter Journal of Computing and Digital Systems'20 (<a href="https://journal.uob.edu.bh/handle/123456789/12" style="color: #2d4c8f;text-decoration:underline">IJCDS 2020</a>).</div>

                    <div class="news-p" style="margin-top:20px"><button disabled="disabled" style="background-color:rgb(187, 20, 56);border:none; color: azure;border-radius: 5px;"> Jan. 2020</button> Prof. Wang now is a reviewer for the the CISS symposium of IEEE International Conference on Communications (<a href="https://infocom2020.ieee-infocom.org/" style="color: #2d4c8f;text-decoration:underline">IEEE INFOCOM 2020</a>).</div>
                    
                    </div>
              </div>
<br>
          </div>
      </div>
    </div>
</div>
</body>

  
  <div class="top-to-page" id="top-page">
    <a href="#top" class="scroll"> <i class="fa fa-arrow-circle-up" style="font-size:48px;color:red"></i></a>   
</div>
<script>
  var year=[2023,2022,2021,2020]
  var list=document.getElementsByClassName('news-select');
  console.log(list)
  for(var i in list){
    (function(i){
      console.log(i);
      console.log(list[i]);
      list[i].onclick=function(){
        var a=document.getElementsByClassName("news-arrow")[i];
        var b=document.getElementsByClassName("news-arrow-down")[i];
        var news=document.getElementsByClassName("news-text")[i];
        console.log(list[i].style);
        if (a.style.display=='none'){
          a.style.display='inherit';
          b.style.display='none';
        }else{
          b.style.display='inherit';
          a.style.display='none';
        }
        if (news.style.display=='none'){
          news.style.display='inherit';
        }else{
          news.style.display='none';
        }
      }
    })(i)
  }
  var news_year1=document.getElementsByClassName("news-"+year[0])[0];
  var news_year2=document.getElementsByClassName("news-"+year[1])[0];
  var news_year3=document.getElementsByClassName("news-"+year[2])[0];
  var news_year4=document.getElementsByClassName("news-"+year[3])[0];
  var news_year_select1=document.getElementById("news-select-"+year[0])[0];
  var news_year_select2=document.getElementById("news-select-"+year[1])[0];
  var news_year_select3=document.getElementById("news-select-"+year[2])[0];
  var news_year_select4=document.getElementById("news-select-"+year[3])[0];

</script>
<script>

(function () {
  $(".scroll").click(function (event) {
      event.preventDefault();
      $('html,body').animate({
          scrollTop: $(this.hash).offset().top
      }, 1200);
  });
})

window.onscroll = function() {
     scrollFunction()
 };
   
  function scrollFunction() {
    console.log(121);
      if (document.body.scrollTop > 400 || document.documentElement.scrollTop > 400) {
        
    var opacity=0.1+(document.documentElement.scrollTop-400)/2000
        console.log(document.getElementById("top-page").style.display);
          document.getElementById("top-page").style.display = "block";
          document.getElementById("top-page").style.opacity = opacity;
    } else {
      console.log(document.getElementById("top-page").style.display);
        document.getElementById("top-page").style.display = "none";
    }
 }
</script>
<script>        
  var mySwiper = new Swiper ('.swiper', {
    loop: true, // 循环模式选项
    
    
    // 如果需要前进后退按钮
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        
    autoplay: {
      delay:10000,
    }
  });
  $('.swiper-slide').mouseenter(function() {
    mySwiper.autoplay.stop();
})
// 鼠标移出开始自动滚动
$('.swiper-slide').mouseleave(function() {
    mySwiper.autoplay.start();
})
</script>