---
layout: default
---

<body>
  <div style="margin-top: -10px;background: url(./img/bg-team-alumni.jpg);background-size:cover;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto" style="text-align: center;">
        <h1 style="font-size:40px;font-family: ZCOOL XiaoWei;margin-top: 14px;"><br><br>Lab Director</h1>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row" style="margin-top: 40px;">
      <div class="col-lg-4 col-md-12 mx-auto">
        <div class="author">
        <div class="author-info">
        <div class="author-avatar" style="text-align: center;">
          <div class="hexa">
                  <div class="hex1">
                      <div class="hex2">
          <a href="https://cis.temple.edu/~yanwang/index.html" target="_blank"><img src="{{ site.baseurl }}/img/team/Prof.YanWang.jpg" draggable="false" width=80% alt="Prof. Yan Wang"/></a>
        </div>
      </div>
    </div>
  </div>
  <div class="author-icon-name-container" style="margin-top: 10px;">
    <div class="author-icon">
      <a href="https://cis.temple.edu/~yanwang/index.html" target="_blank"><img src="{{ site.baseurl }}/assets/icon/Prof.Wang.png" height="80px" width="95px" /></a>
    </div>
    <div class="author-name-container">
      <a href="https://cis.temple.edu/~yanwang/index.html" target="_blank"><h1 class="author-name" style="font-size:30px;font-family:'Times New Roman', Times, serif">Prof. Yan Wang</h1></a>
        <div class="author-role" style="font-size:22px;font-family:Raleway;color:rgb(170, 37, 37);font-weight: 500;">
          <a href="https://cis.temple.edu/~yanwang/index.html" target="_blank"><p style="font-size:22px;color:rgb(170, 37, 37)">Principal Investigator</p></a>
        </div>
    </div>
</div>
</div>
</div>
      </div>
    <div class="author-substitute">
      <div class="author-nucleus team">
        <a href="https://cis.temple.edu/~yanwang/index.html" target="_blank">
          <div class="author-avatar">
            <div class="hexa">
                    <div class="hex1">
                        <div class="hex2">
                  <img src="{{ site.baseurl }}/img/team/Prof.YanWang.jpg" alt="Zhengkun Ye" class="avatar avatar-large wp-user-avatar wp-user-avatar-large alignnone photo" draggable="false"/>								</div>
              </div>
            </div>
          </div>
        </a>
          <div class="author-info">
            <h1>
              <a class="author-name" href="https://cis.temple.edu/~yanwang/index.html" target="_blank" style="font-family:'Times New Roman', Times, serif">Prof. Yan Wang</a></h1><hr style="background-color: #c9a942;border: 0;height: 1px;align-content: center;">
              <a href="https://cis.temple.edu/~yanwang/index.html" target="_blank"><p style="font-size:24px;font-size:22px;color:rgb(170, 37, 37);font-weight: 500;">Principal Investigator</p></a>
          </div>
      </div>
    </div>


      <div class="col-lg-7 col-md-12 mx-auto">
        <div class="col-lg-12">
          <p style="margin-top:-20px;font-size: 34px; font-weight: 500;color: black;font-family: 'Times New Roman', Times, serif;">Biography</p></a>
          <div class="team-p" style="text-align:justify;font-size:22px;margin-top: 10px;color: black;font-family: 'Times New Roman', Times, serif;">Dr. Yan Wang is an Associated Professor with the Department of Computer and Information Sciences at Temple University. Currently, his research interests lie on Mobile Computing, Smart Healthcare, Internet of Things and Deep Learning. He also regularly serves as Technical Program Committee and Organizing Committee in INFOCOM, CNS, ICDCS and ICCCN. His research has been reported in numerous media outlets including MIT Technology Review, CNN, Fox News Channel, Wall Street Journal, National Public Radio, and IEEE Spectrum.</div></a>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>

  <section class="PhD" style="background-color: #ecf2f3;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto" style="margin-top:50px">
          <h1 style="font-size:28px;font-family: ZCOOL XiaoWei;text-decoration: underline;">Ph.D. Students</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-mx-auto" style="margin-top: 20px;">
      <div class="author-nucleus team">
        <a href="https://www.linkedin.com/in/yezhengkun/" target="_blank">
          <div class="author-avatar">
            <div class="hexa">
                    <div class="hex1">
                        <div class="hex2">
                  <img src="{{ site.baseurl }}/img/team/zhengkunye.jpg" alt="Zhengkun Ye" class="avatar avatar-large wp-user-avatar wp-user-avatar-large alignnone photo" draggable="false"/>								</div>
              </div>
            </div>
          </div>
        </a>
          <div class="author-info">
            <h2>
              <a class="author-name" href="https://www.linkedin.com/in/yezhengkun/" target="_blank">Zhengkun Ye</a></h2><hr style="background-color: #5367a8;border: 0;height: 1px;align-content: center;">
            Year: 2021 - now &nbsp &nbsp
          </div>
      </div>
        <div class="author-nucleus team ">
          <a href="https://zijie-tang.github.io/" target="_blank">
            <div class="author-avatar">
              <div class="hexa">
                      <div class="hex1">
                          <div class="hex2">
                    <img src="{{ site.baseurl }}/img/team/zijietang.jpg" alt="Zijie Tang" class="avatar avatar-large wp-user-avatar wp-user-avatar-large alignnone photo" draggable="false"/>								</div>
                </div>
              </div>
            </div>
          </a>
            <div class="author-info">
              <h2>
                <a class="author-name" href="https://zijie-tang.github.io/" target="_blank">
                  Zijie Tang							</a></h2><hr style="background-color: #941e1e;border: 0;height: 1px;align-content: center;">
              Year: 2022 - now &nbsp &nbsp
            </div>
          </div>
          <div class="author-nucleus team ">
            <a href="https://macuxavier.github.io/" target="_blank">
              <div class="author-avatar">
                <div class="hexa">
                        <div class="hex1">
                            <div class="hex2">
                      <img src="{{ site.baseurl }}/img/team/mingjingxu.jpg" alt="Mingjing Xu" class="avatar avatar-large wp-user-avatar wp-user-avatar-large alignnone photo" draggable="false" />								</div>
                  </div>
                </div>
              </div>
            </a>
              <div class="author-info">
                <h2>
                  <a class="author-name" href="https://macuxavier.github.io/" target="_blank">
                    Mingjing Xu							</a></h2><hr style="background-color: #4b4a4a;border: 0;height: 1px;align-content: center;">
                Year: 2023 - now &nbsp &nbsp
              </div>
            </div>
      </div>
    </div>
  </section>

  <section class="Graduated">
    <div class="container" style="margin-top: -0px">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto" style="margin-top:40px">
          <h1 style="font-size:28px;font-family: ZCOOL XiaoWei;text-decoration: underline;">Graduated Students</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-mx-auto" style="margin-top: 20px;">
      <div class="author-nucleus team">
        <a href="https://www.linkedin.com/in/tianming-zhao/" target="_blank">
          <div class="author-avatar">
            <div class="hexa">
                    <div class="hex1">
                        <div class="hex2">
                  <img src="{{ site.baseurl }}/img/team/Prof.tianming.zhao.jpg" alt="Tianming Zhao" class="avatar avatar-large wp-user-avatar wp-user-avatar-large alignnone photo" draggable="false"/>								</div>
              </div>
            </div>
          </div>
        </a>
          <div class="author-info">
            <h2>
              <a class="author-name" href="https://www.linkedin.com/in/tianming-zhao/" target="_blank">Tianming Zhao</a></h2><hr style="background-color: #d4d1d1;border: 0;height: 1px;align-content: center;">
            <a href="https://udayton.edu/directory/artssciences/computerscience/zhao-tianming.php" target="_blank">Assistant Professor in Uiversity of Dayton</a>
        </div>
      </div>
    </div>
  </section>

  <section class="Undergraduate" style="background-color: #f5f7f8">
    <div class="container" style="margin-top: -0px">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto" style="margin-top:40px">
          <h1 style="font-size:28px;font-family: ZCOOL XiaoWei;text-decoration: underline;">Undergraduate Students</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-mx-auto" style="margin-top: 20px;">
      <div class="author-nucleus team">
        <a href="https://www.linkedin.com/in/sophia-martino-9199b11b7/" target="_blank">
          <div class="author-avatar">
            <div class="hexa">
                    <div class="hex1">
                        <div class="hex2">
                  <img src="{{ site.baseurl }}/img/team/SophiaMartino.jpg" alt="Sophia Martino" class="avatar avatar-large wp-user-avatar wp-user-avatar-large alignnone photo" draggable="false"/>								</div>
              </div>
            </div>
          </div>
        </a>
          <div class="author-info">
            <h2>
              <a class="author-name" href="https://www.linkedin.com/in/sophia-martino-9199b11b7/" target="_blank">Sophia Martino</a></h2><hr style="background-color: #8ca34e;border: 0;height: 1px;align-content: center;">
              Lehigh University &nbsp &nbsp
          </div>
      </div>
        <div class="author-nucleus team ">
          <a href="https://keegankresge.com/" target="_blank">
            <div class="author-avatar">
              <div class="hexa">
                      <div class="hex1">
                          <div class="hex2">
                    <img src="{{ site.baseurl }}/img/team/Keegan.Kresge.jpg" alt="Keegan Kresge" class="avatar avatar-large wp-user-avatar wp-user-avatar-large alignnone photo" draggable="false"/>								</div>
                </div>
              </div>
            </div>
          </a>
            <div class="author-info">
              <h2>
                <a class="author-name" href="https://keegankresge.com/" target="_blank">Keegan Kresge</a></h2><hr style="background-color: #b66386;border: 0;height: 1px;align-content: center;">
                Rochester Institute of Technology
            </div>
          </div>
          </div>
  </section>

  <section class="Alumni" style="background: url(./img/bg-team-alumni.jpg);background-size:cover;" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto" style="margin-top:40px">
          <h1 style="font-size:28px;font-family: ZCOOL XiaoWei;text-decoration: underline;">Alumni</h1>
        </div>
      </div>
    </div>

    <div class="container" style="margin-top: 20px">
      <div class="row">
      <div class="col-lg-4 col-md-6 col-mx-auto" style="padding:30px;">
        <div class="box">
            <b class="">Lekhana Kotaar Manjunath</b>
            <p>Independent Study</p>
            <p>Previous: Master Student</p>
            <p style="color:#045FB4" class="has-text-justifie">Current: Amazon</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-mx-auto" style="padding:30px;">
        <div class="box">
            <b class="">Swapnil B Bhoite</b>
            <p>Termination Project</p>
            <p>Previous: Master Student</p>
            <p style="color:#045FB4" class="has-text-justifie">Current: CBS</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-mx-auto" style="padding:30px;">
        <div class="box">
            <b class="">Lu Lu</b>
            <p>Independent Study</p>
            <p>Previous: Master Student</p>
            <p style="color:#045FB4" class="has-text-justifie">Current: Elementum</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-mx-auto" style="padding:30px;">
        <div class="box">
            <b class="">Anirudh Chauhan</b>
            <p>Independent Study</p>
            <p>Previous: Master Student</p>
            <p style="color:#045FB4" class="has-text-justifie">Current: Discovery Inc.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-mx-auto" style="padding:30px;">
        <div class="box">
            <b class="">Vidya Sagar Valluri</b>
            <p>Independent Study</p>
            <p>Previous: Master Student</p>
            <p style="color:#045FB4" class="has-text-justifie">Current: Qualcomm</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-mx-auto" style="padding:30px;">
        <div class="box">
            <b class="">Pradeep Sai Uppula</b>
            <p>Termination Project</p>
            <p>Previous: Master Student</p>
            <p style="color:#045FB4" class="has-text-justifie">Current: Udacity</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-mx-auto" style="padding:30px;">
        <div class="box">
            <b class="">Vaibhav Kollipara</b>
            <p>Independent Study</p>
            <p>Previous: Master Student</p>
            <p style="color:#045FB4" class="has-text-justifie">Current: Cerner Corporation</p>
        </div>
      </div>

      
      <div class="col-lg-4 col-md-6 col-mx-auto" style="padding:30px;">
        <div class="box">
            <b class="">Luke Jakielaszek</b>
            <p>Previous: Undergraduate Student</p>
            <p style="color:#045FB4" class="has-text-justifie">Current: DuPont</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-mx-auto" style="padding:30px;">
        <div class="box">
            <b class="">Ellington F Kirby</b>
            <p>Previous: Undergraduate Study</p>
            <p style="color:#045FB4" class="has-text-justifie">Current: DRAFT</p>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 col-mx-auto" style="padding:30px;">
        <div class="box">
            <b class="">Aniketh Reddy Malles</b>
            <p>Independent Study</p>
            <p>Master Student</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-mx-auto" style="padding:30px;">
        <div class="box">
            <b class="">Timothy Redband</b>
            <p>Termination Project</p>
            <p>Master Student</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-mx-auto" style="padding:30px;">
        <div class="box">
            <b class="">Meng Xu</b>
            <p>Independent Study</p>
            <p>Master Student</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-mx-auto" style="padding:30px;">
        <div class="box">
            <b class="">Harshit S Doshi</b>
            <p>Termination Project</p>
            <p>Master Student</p>
        </div>
      </div>

    </div>
    </div>
    <br>
  </section>
  
  <div class="top-to-page" id="top-page">
    <a href="#top" class="scroll"> <i class="fa fa-arrow-circle-up" style="font-size:48px;color:red"></i></a>   
</div>

<script>

(function () {
  $(".scroll").click(function (event) {
      event.preventDefault();
      $('html,body').animate({
          scrollTop: $(this.hash).offset().top
      }, 1200);
  });
})

window.onscroll = function() {
     scrollFunction()
 };
   
  function scrollFunction() {
    console.log(121);
      if (document.body.scrollTop > 400 || document.documentElement.scrollTop > 400) {
        
    var opacity=0.1+(document.documentElement.scrollTop-400)/2000
        console.log(document.getElementById("top-page").style.display);
          document.getElementById("top-page").style.display = "block";
          document.getElementById("top-page").style.opacity = opacity;
    } else {
      console.log(document.getElementById("top-page").style.display);
        document.getElementById("top-page").style.display = "none";
    }
 }
</script>