---
layout: default
---

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">
        <h1 style="font-size:28px"><br><br><br>Lab Director</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" style="margin-top: 40px;">
      <div class="col-lg-4 col-md-6 mx-auto">
        <figure class="col-lg-12" style="display:block; text-align: center;">
          <a href="https://cis.temple.edu/~yanwang/index.html" target="_blank"><img src="{{ site.baseurl }}/img/team/YanWang.jfif" draggable="false" width=80% alt=""/></a>
        </figure>  
      </div>

      <div class="col-lg-8 col-md-6 mx-auto">
        <div class="col-lg-12">
          <a href="https://cis.temple.edu/~yanwang/index.html" target="_blank"><p style="font-size: 32px; font-weight: 500;color: black;">Prof. Yan Wang</p></a>
          <p style="font-size:25px; color:rgb(170, 37, 37);margin-top: 10px;">Associated Professor</p>
          <p style="font-size:22px;margin-top: 10px;color: black;">The Principal Investigator of WANGLab</p>
          <a href="https://cis.temple.edu/" target="_blank"><p style="font-size:20px;margin-top: 10px;color: black;">Department of Computer and Information Sciences</p></a>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <section class="PhD">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto" style="margin-top:20px">
          <h1 style="font-size:28px">Ph.D. Students</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-mx-auto">
      <div class="author-nucleus team row-cols-lg-12">
        <a href="https://www.linkedin.com/in/yezhengkun/" target="_blank">
          <div class="author-avatar">
            <div class="hexa">
                    <div class="hex1">
                        <div class="hex2">
                  <img src="{{ site.baseurl }}/img/team/zhengkunye.jpg" alt="Zhengkun Ye" class="avatar avatar-large wp-user-avatar wp-user-avatar-large alignnone photo" />								</div>
              </div>
            </div>
          </div>
        </a>
          <div class="author-info">
            <h2>
              <a class="author-name" href="https://www.linkedin.com/in/yezhengkun/" target="_blank">Zhengkun Ye</a></h2><hr style="background-color: #5367a8;border: 0;height: 1px;align-content: center;">
            Year: 2021 - now
          </div>
      </div>
        <div class="author-nucleus team ">
          <a href="https://zijie-tang.github.io/ target="_blank"" target="_blank">
            <div class="author-avatar">
              <div class="hexa">
                      <div class="hex1">
                          <div class="hex2">
                    <img src="{{ site.baseurl }}/img/team/zijietang.jpg" alt="Zijie Tang" class="avatar avatar-large wp-user-avatar wp-user-avatar-large alignnone photo" />								</div>
                </div>
              </div>
            </div>
          </a>
            <div class="author-info">
              <h2>
                <a class="author-name" href="https://zijie-tang.github.io/" target="_blank">
                  Zijie Tang							</a></h2><hr style="background-color: #941e1e;border: 0;height: 1px;align-content: center;">
              Year: 2022 - now
            </div>
          </div>
          <div class="author-nucleus team ">
            <a href="https://macuxavier.github.io/" target="_blank">
              <div class="author-avatar">
                <div class="hexa">
                        <div class="hex1">
                            <div class="hex2">
                      <img src="{{ site.baseurl }}/img/team/mingjingxu.jpg" alt="Mingjing Xu" class="avatar avatar-large wp-user-avatar wp-user-avatar-large alignnone photo" />								</div>
                  </div>
                </div>
              </div>
            </a>
              <div class="author-info">
                <h2>
                  <a class="author-name" href="https://macuxavier.github.io/" target="_blank">
                    Mingjing Xu							</a></h2><hr style="background-color: #4b4a4a;border: 0;height: 1px;align-content: center;">
                Year: 2023 - now
              </div>
            </div>
            <hr>
      </div>
    </div>
  </section>

  <section class="PhD">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto" style="margin-top:20px">
          <h1 style="font-size:28px">Graduated Students</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-mx-auto">
      <div class="author-nucleus team row-cols-lg-12">
        <a href="https://www.linkedin.com/in/tianming-zhao/" target="_blank">
          <div class="author-avatar">
            <div class="hexa">
                    <div class="hex1">
                        <div class="hex2">
                  <img src="{{ site.baseurl }}/img/team/tianmingzhao.jpg" alt="Tianming Zhao" class="avatar avatar-large wp-user-avatar wp-user-avatar-large alignnone photo" />								</div>
              </div>
            </div>
          </div>
        </a>
          <div class="author-info">
            <h2>
              <a class="author-name" href="https://www.linkedin.com/in/tianming-zhao/" target="_blank">Tianming Zhao</a></h2><hr style="background-color: #d4d1d1;border: 0;height: 1px;align-content: center;">
            <a href="https://udayton.edu/directory/artssciences/computerscience/zhao-tianming.php" target="_blank">Assistant Professor in Uiversity of Dayton</a>
          </div>
      </div>
      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-mx-auto">
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-mx-auto">
        </div>
        <hr>
      </div>
    </div>
  </section>

  <section class="Alumni">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto" style="margin-top:20px">
          <h1 style="font-size:28px">Alumni</h1>
        </div>
      </div>
    </div>
  </section>

  <div class="columns" style="margin-top: 20px">
  <div class="column is-3" style="padding:30px;">
    <div class="box">
        <b class="">Sonyao Jiang</b>
        <p><a style="color:darkblue" href="http://www.songyaojiang.com/">Homepage</a></p>
        <p>Year: 2016-2022</p>
        <p>Previous: Ph.D. student</p>
        <p style="color:#045FB4" class="has-text-justifie">Current: Amazon Lab126</p>
    </div>
  </div>
</div>