---
layout: default
---

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">
        <h1 style="font-size:28px"><br><br><br>Lab Director</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mx-auto">
        <figure class="col-lg-12" style="display:block; margin-top: 20px; text-align: center;">
          <a href="https://cis.temple.edu/~yanwang/index.html" target="_blank"><img src="{{ site.baseurl }}/img/team/YanWang.jfif" draggable="false" width=60% alt=""/></a>
        </figure>  
      </div>

      <div class="col-lg-8 col-md-6 mx-auto" style="margin-top: 20px;">
        <a href="https://cis.temple.edu/~yanwang/index.html" target="_blank"><p style="font-size: 24px; font-weight: 500;">Prof. Yan Wang</p></a>
        <p style="font-size:20px; color:rgb(170, 37, 37)">Assistant Professor</p>
        <p>Founding Director of WANGLab</p>
        <p>Department of Computer and Information Sciences</p>
          <hr>
      </div>
    </div>
  </div>
  
  <section class="PhD">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto" style="margin-top:20px">
          <h1 style="font-size:28px">Ph.D. Student</h1>
        </div>
      </div>
      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-mx-auto">
        <div class="col" style="margin-top:20px;">
          <div style="text-align: center;" class="hex"><img src="{{ site.baseurl }}/img/team/tianmingzhao.jfif"></div>
          <h2>Tianming Zhao</h2>
        </div>
        <div class="col" style="margin-top:20px">
          <div style="text-align: center;" class="hex"><img src="https://images.pexels.com/photos/1421264/pexels-photo-1421264.jpeg?cs=srgb&dl=aerial-aerial-photo-aerial-photography-1421264.jpg&fm=jpg" alt="some"></div>
        </div>
        <div class="col" style="margin-top:20px">
          <div style="text-align: center;" class="hex"><img src="https://images.pexels.com/photos/1421264/pexels-photo-1421264.jpeg?cs=srgb&dl=aerial-aerial-photo-aerial-photography-1421264.jpg&fm=jpg" alt="some"></div>
        </div>
        <div class="col" style="margin-top:20px">
          <div class="hex"><img src="https://images.pexels.com/photos/1421264/pexels-photo-1421264.jpeg?cs=srgb&dl=aerial-aerial-photo-aerial-photography-1421264.jpg&fm=jpg" alt="some"></div>
        </div>
      </div>
    </div>
  </section>


